<div class="container">
  <div class="row">
    <div class="row-col-8 py-5">

      <div class="d-flex justify-content-between">
        <span class="d-inline-block text-truncate"><h2>Add new movie to my "<%= @list.name %>"" list</h2></span>
        <%= link_to list_path(@list) do %>
          <button class="btn btn-primary text-truncate">Back to list</button>
        <% end %>
      </div>

    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment %>
      <%= f.association :movie %>
      <%= f.button :submit, class: "btn btn-success" %>
    <% end %>

    </div>
  </div>
</div>
