<!DOCTYPE html>
<html>
  <head>
    <title>YT Movie WatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand text-light" href="/root"><i class="fa-duotone fa-film-simple"></i> YT Movie WatchList</a>
        <div class="d-flex">
          <div class="text-light"><i class="fa-solid fa-user"></i></div>

        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
