<!DOCTYPE html>
<html>
  <head>
    <title>YT Movie WatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand text-light" href="/"><i class="fa-solid fa-film"></i> YT Movie WatchList</a>
        <div class="d-flex">
          <div class="text-light">
            <i class="fa-solid fa-bell mx-1"></i>
            <i class="fa-solid fa-envelope mx-1"></i>
            <i class="fa-solid fa-heart mx-1"></i>
            <i class="fa-solid fa-user mx-1"></i>
            <i class="fa-solid fa-gear mx-1"></i>
          </div>

        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
